<ion-view view-title="home">
  <ion-pane>
      <ion-header-bar class="bar-stable">
        <h1 class="title">ToDo</h1>
        <button ng-click="changeState()">Edit</button>
      </ion-header-bar>

      
      <ion-content scroll="false">
        <div id="noitemstext">
          pinch to create a todo

        </div>
        

        
        <div id="overlay">
          <div class="list list-inset" id="todolist">
            <form id="textEdit">
            <div class="item item-text-wrap">
              <span class="input-label">Todo: </span>
              <input type="text" id="todofield" placeholder="type text here">
            </div>
            <div class="item item-text-wrap">
              <button class="button button-positive" onclick="textEditSubmit()">Submit</button>
            </div>
            
            
            </form>
          </div>
          
        </div>
        

      </ion-content>
    </ion-pane>
</ion-view>
